html, body {
  height: 100%;
  background-image: url("../images/car-bg.jpg");
  background-position: 50% 50%;
  background-repeat: repeat;

  font-family: 'Acme', sans-serif;
}

.title {
  background-color: #E8EBEE;
}

.center-box {
    display: flex;
    justify-content: center;
}

.center-info {
  display: flex;
  justify-content: space-between;
}

#welcome {
  font-size: 2.5rem;
}

#question{
  font-size: 1.75rem;
  font-weight: bold;
}

#guess-word {
    font-size: 6rem;
    letter-spacing: 1.5rem;
}

#letters-used {
  font-size: 2rem;
  letter-spacing: 1.5rem;
}

.blinking{
  animation:blinkingText 2s infinite;
  opacity: 1;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: transparent; }
  50%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}

.info {
  font-size: 1.5rem;
}