html, body {
  height: 100%;
  background-image: url("../images/car-bg.jpg");
  background-position: 50% 50%;
  background-repeat: repeat;
}

.center-box {
    display: flex;
    justify-content: center;
}


#guess-word {
    font-size: 6rem;
    letter-spacing: 1.5rem;
}

#letters-used {
  font-size: 2rem;
  letter-spacing: 1.5rem;
}